<div class="page-layout">
  <div class="page-header">
    <div class="header-section">
      <shipping-rule-filter-view [filter]="filter"></shipping-rule-filter-view>
    </div>
    <div class="header-section">
      <button (click)="testProgramChanges()">TEST</button>
    </div>
  </div>


  <div class="side-filter">
    <shipping-rule-filter [filter]="filter"></shipping-rule-filter>
  </div>
  <div class="page-content">
    GRID
  </div>
</div>


<hr>
<hr>

<div style="border: 1px solid gray; padding: 8px;">
  <div class="" *ngFor="let f of collection.getFilter().list()" >
    <div style="display: flex;">
      <div style="flex-basis: 30%">
        <div *ngIf="f.isEnabled()">
          <div><strong>Type:</strong>{{f.getType()}}</div>
          <div><strong>Label:</strong>{{f.getLabel()}}</div>
          <input type="search">
          <div><small>{{f.getHint()}}</small></div>
        </div>
    </div>
      <div style="flex-basis: 30%"><strong>Value:</strong>{{f.getValue() | json}}</div>
      <div style="flex: auto"><strong>Enum:</strong>{{f.getEnum() | json}}</div>
    </div>
  </div>
</div>
