<div class="page-layout">
  <div class="page-header">
    <div class="header-section">

        <div [formGroup]="viewForm.getForm()"  class="filter-form">

          <div class="filter-field" *ngIf="viewForm.visibleControls.get('id')">
            <app-filter-field-text [filterControl]="viewForm.filterControl('id')" ></app-filter-field-text>
          </div>

          <div class="filter-field" *ngIf="viewForm.visibleControls.get('action')">
            <app-filter-select [filterControl]="viewForm.filterControl('action')"></app-filter-select>
          </div>

          <div class="filter-field" *ngIf="viewForm.visibleControls.get('date')">
            <app-filter-date-range [filterControl]="viewForm.filterControl('date')"></app-filter-date-range>
          </div>

          <div class="filter-field">
            <button (click)="viewFormApply()">Apply</button>
          </div>

          <div class="filter-field">
            <button (click)="viewForm.reset()">Reset</button>
          </div>

        </div>

    </div>
    <div class="header-section">
    </div>
  </div>


  <div class="side-filter">
    <div [formGroup]="sideForm.getForm()">
      <div  class="filter-form">

        <div class="filter-field" *ngIf="sideForm.visibleControls.get('id')">
          <label>{{sideForm.filterControl('id').label()}}
            <input type="text" [formControlName]="'id'">
          </label>
        </div>
        <hr>

        <div *ngIf="sideForm.visibleControls.get('id')">
          <label>
            {{sideForm.filterControl('action').label()}}
            <select [formControlName]="'action'">
              <option [ngValue]="null" selected>{{sideForm.filterControl('action').getConfig('emptyLabel')}}</option>
              <option *ngFor="let o of sideForm.filterControl('action').getEnum()" [ngValue]="o.value">{{o.key}}</option>
            </select>
          </label>
        </div>
        <hr>

        <div class="filter-field" *ngIf="sideForm.visibleControls.get('date')">
          <app-filter-date-range [filterControl]="sideForm.filterControl('date')"></app-filter-date-range>
        </div>

        <div class="filter-field">
          <button (click)="sideForm.submit()">Apply</button>
        </div>

        <div class="filter-field">
          <button (click)="sideForm.reset()">Reset</button>
        </div>


      </div>
    </div>
  </div>

  <div class="page-content">
    COLLECTION GRID
    <div>ViewForm</div>
    <div>{{viewForm.initState() | json}}</div>
    <hr>
    <div>SideForm</div>
    <div>{{sideForm.initState() | json}}</div>
  </div>
</div>


<div>
  {{sideForm.getValue() | json}}
</div>
<div>
  {{viewForm.getValue() | json}}
</div>

